body {
  font-family: sans-serif;
}
input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px; /*上下左右*/
  outline: none;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
}

button:hover {
  background-color: rosybrown;
  color: whitesmoke; /*文字のカラー*/
  cursor: pointer;
}

.inputarea {
  background-color: cadetblue;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.imcompletearea {
  background-color: rgb(241, 221, 193);
  width: 400px;
  min-height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.completearea {
  background-color: rgb(241, 221, 193);
  width: 400px;
  min-height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}
